.form {
    padding: 20px 0;
    background: url('../../../resources/img/bg_blue.jpeg') center center/cover no-repeat;
    &-block {
        width: 770px;
        height: 735px;
        background-color: #fff;
        border-radius: 10px;
        margin: 0 auto;
    }
}