.about {
    padding: 45px 0;
    &-wrap {
        display: flex;
        gap: 65px;
    }
    &-info {
        color: rgb(28, 28, 28);
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: left;
    }
    &-item{
        &__info{
            width: 435px;
            height: 212px;
            background: rgb(77, 83, 232);
            padding: 27px 0 40px 0;
            text-align: center;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            h3 {
                color: rgb(255, 255, 255);
                font-family: Rubik;
                font-size: 20px;
                font-weight: 900;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: center;
            }
            p {
                color: rgb(255, 255, 255);
                font-family: Rubik;
                font-size: 20px;
                font-weight: 500;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: center;
                margin-bottom: 40px;
            }
            a {
                width: 246px;
                height: 40px;
                box-sizing: border-box;
                border: 1px solid rgb(255, 255, 255);
                border-radius: 10px;
                padding: 10px 15px;
                color: rgb(255, 255, 255);
                font-family: Rubik;
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0%;
                text-align: left;
                text-decoration: none;
            }
        }
        &__img {
            width: 435px;
            height: 570px;
            img {
                width: 435px;
                height: 570px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }
}