@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.title {
  font-family: Rubik;
    font-size: 35px;
  &_h2{
    color: rgb(77, 83, 232);
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 55px;
  }
  &_center {
    text-align: center;
  }
}